<div class="wrapper wrapper-content animated fadeIn">
    <div class="col-lg-12 d-inline-block mb-5 border-bottom white-bg page-heading">
        <h2 class="text-muted"> Company Administration</h2>
        <div class="icon-container bg-primary float-right">
            <i class="ml-2 fa fa-cogs fa-lg fa-2x"></i>
        </div>
    </div>
    <div class="ibox-content">
        <div class="d-flex justify-content-between w-100 mb-3">
            <div class="float-left d-flex w-75">
                <select type="text" class="form-control w-25 mr-5">
                    <option value="" disabled selected>Company Name</option>
                    <option *ngFor="let companyDetails of companiesDetails" [value]="companyDetails.company.name">{{companyDetails.company.name}}</option>
                </select>
                <select type="text" class="form-control w-25">
                    <option value="" disabled selected>Administrator</option>
                    <option *ngFor="let user of users" [value]="user.id">{{user.firstName}} {{user.lastName}}</option>
                </select>
            </div>
            <div class="float-right">
                <button class="btn btn-primary" (click)="openCreateCompanyDialog()">Create Company</button>
            </div>
        </div>
        <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
            <thead>
            <tr>
                <th>Company Name</th>
                <th>Responsible</th>
                <th>Research Sites</th>
                <th>Studies</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let companyDetails of companiesDetails">
                    <td>{{companyDetails.company.name}}</td>
                    <td><p *ngFor="let administrator of companyDetails.administrators">{{administrator.firstName}} {{administrator.lastName}}</p></td>
                    <td class="center">{{companyDetails.sitesSize}}</td>
                    <td class="center">{{companyDetails.studiesSize}}</td>
                    <td class="center"><button class="btn btn-white" [routerLink]="['/administration/companies', companyDetails.company.id]">Manage</button></td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <ul class="pagination float-right"></ul>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
