<div class="wrapper wrapper-content animated fadeIn">
    <div class="col-lg-12 d-inline-block mb-5 border-bottom white-bg page-heading">
        <h2 class="text-muted"> Dashboard</h2>
        <div class="icon-container bg-primary float-right"> 
           <i class="ml-2 fa fa-cogs fa-lg fa-2x"></i>
        </div>
    </div>
    <div class="row wrapper border-bottom  page-heading container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="ibox-title">
                            <h5>Study Regulatory Binders</h5>
                            <div class="float-right"><button class="btn btn-primary mb-3" (click)="openDialog()">New Study</button></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select type="text" id="product_name" name="product_name" value=""
                                        placeholder="Company" class="form-control">
                                        <option value="1">CNS Healthcare</option>
                                        <option value="2">XY Research</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select type="text" id="product_name" name="product_name" value=""
                                        placeholder="Project Name" class="form-control">
                                        <option value="1">Research Site</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select type="text" id="product_name" name="product_name" value=""
                                        placeholder="Project Name" class="form-control">
                                        <option value="1">Investigator</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="text" id="quantity" name="quantity" value="" placeholder="Search"
                                        class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped">

                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Master project</td>
                                        <td>Patrick Smith</td>
                                        <td>Jul 14, 2015</td>
                                        <td><a href="#"><i class="fa fa-ellipsis-h text-navy"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Alpha project</td>
                                        <td>Alice Jackson</td>
                                        <td>Jul 16, 2015</td>
                                        <td><a href="#"><i class="fa fa-ellipsis-h  text-navy"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Betha project</td>
                                        <td>John Smith</td>
                                        <td>Jul 18, 2015</td>
                                        <td><a href="#"><i class="fa fa-ellipsis-h  text-navy"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Oveview</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link" href="">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content ibox-heading">
                        <h3>You have meeting today!</h3>
                        <small><i class="fa fa-map-marker"></i> Meeting is on 6:00am. Check your schedule to see
                            detail.</small>
                    </div>
                    <div class="ibox-content inspinia-timeline">
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-4 date">
                                    <i class="fa fa-file"></i>
                                    7:00 am
                                    <br />
                                    <small class="text-navy">3 hour ago</small>
                                </div>
                                <div class="col content">
                                    <p class="m-b-xs"><strong>Send documents to Mike</strong></p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since.</p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-4 date">
                                    <i class="fa fa-coffee"></i>
                                    8:00 am
                                    <br />
                                </div>
                                <div class="col content">
                                    <p class="m-b-xs"><strong>Coffee Break</strong></p>
                                    <p>
                                        Go to shop and find some products.
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-4 date">
                                    <i class="fa fa-phone"></i>
                                    11:00 am
                                    <br />
                                    <small class="text-navy">21 hour ago</small>
                                </div>
                                <div class="col content">
                                    <p class="m-b-xs"><strong>Phone with Jeronimo</strong></p>
                                    <p>
                                        Lorem Ipsum has been the industry's standard dummy text ever since.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>