<div class="wrapper wrapper-content animated fadeIn">
    <div class="col-lg-12 d-inline-block mb-5 border-bottom white-bg page-heading">
        <h2 class="text-muted"> Dashboard</h2>
        <div class="icon-container bg-primary float-right">
            <i class="ml-2 fa fa-cogs fa-lg fa-2x"></i>
        </div>
    </div>
    <div class="row wrapper border-bottom  page-heading container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row no-gutters border-bottom pb-2">
                            <h5 class="col-9">Study Regulatory Binders</h5>
                            <div class="col-3">
                                <button class="btn btn-primary w-100" (click)="openNewStudyDialog()">New Study</button>
                            </div>
                        </div>
                        <form class="row no-gutters pt-3" role="form" [formGroup]="studyFilterForm"
                              (ngSubmit)="filter(studyFilterForm)">
                            <div class="col-sm-3">
                                <div class="form-group mr-1">
                                    <select type="text" class="form-control" formControlName="companyId">
                                        <option value="" disabled selected>Company</option>
                                        <option *ngFor="let company of initDashboardDto?.companies"
                                                [value]="company.id">{{company.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group mr-1">
                                    <select type="text" class="form-control" formControlName="siteId">
                                        <option value="" disabled selected>Site</option>
                                        <option *ngFor="let site of initDashboardDto?.sites"
                                                [value]="site.id">{{site.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group mr-1">
                                    <select type="text" class="form-control" formControlName="investigatorId">
                                        <option value="" disabled>Investigator</option>
                                        <option *ngFor="let user of initDashboardDto?.users"
                                                [value]="user.id">{{user.firstName}} {{user.lastName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group mr-1">
                                    <input type="text" placeholder="Keywords" class="form-control"
                                           formControlName="keywords">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <button type="submit" class="btn btn-primary w-100">Go</button>
                            </div>
                        </form>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col" class="wide">Name</th>
                                    <th scope="col">Tasks</th>
                                    <th scope="col">Last Modified</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let study of initDashboardDto?.studies; let i = index">
                                    <td [routerLink]="['/study', study.id]" style="cursor: pointer">{{study.nickname}}
                                        <p>{{study.site.company.name}}
                                            - {{study.site.company.address1}}
                                            - {{study.principalInvestigator.firstName}} {{study.principalInvestigator.lastName}}
                                            - {{study.indNumber}}</p>
                                    </td>
                                    <td>3</td>
                                    <td>{{study.modified | date}}</td>
                                    <td>
                                        <a (click)="showPopup(i)">
                                            <i class="fa fa-ellipsis-h fa-lg text-navy"></i>
                                            <div *ngIf="clicked[i]">
                                                <div class="popup-container bg-white animated fadeIn">
                                                        <span class="mb-1 ml-3"><i
                                                                class="fa fa-edit mr-3"></i>Rename</span>
                                                    <span class="mb-1 ml-3"><i
                                                            class="fa fa-user mr-3"></i> User Roles</span>
                                                    <span class="mb-1 ml-3"><i class="fa fa-download mr-3"></i>Download</span>
                                                    <span class="mb-1 ml-3"><i class="fa fa-check mr-3"></i>Close Study</span>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Oveview</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link" href="">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="col-sm-4 border-right overview-container">
                            <h5>My Tasks</h5>
                            <div class="row mt-4">
                                <div class="col-sm-2 mr-2"><i class="fa fa-tasks fa-2x"></i></div>
                                <div class="d-flex flex-column col-sm-4 overview-panel">
                                    <div class="col-sm-2 text-muted">PENDING</div>
                                    <div class="col-sm-2 font-weight-bold">43</div>
                                    <div class="col-sm-2 text-warning">OVERDUE</div>
                                    <div class="col-sm-2 text-warning font-weight-bold">5</div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4 border-right overview-container">
                            <h5>e-Signature</h5>
                            <div class="row mt-4">
                                <div class="col-sm-2 mr-2"><span class="iconify" data-icon="fa-solid:file-signature"
                                                                 data-inline="false"></span></div>
                                <div class="d-flex flex-column col-sm-4 overview-panel">
                                    <div class="col-sm-2 text-muted">PENDING</div>
                                    <div class="col-sm-2 font-weight-bold">17</div>
                                    <div class="col-sm-2 text-warning">OVERDUE</div>
                                    <div class="col-sm-2 text-warning font-weight-bold">3</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 overview-container">
                            <h5>Expiring Doc.</h5>
                            <div class="row mt-4">
                                <div class="col-sm-2 mr-2"><span class="iconify" data-icon="fa-regular:calendar-times"
                                                                 data-inline="false"></span></div>
                                <div class="d-flex flex-column col-sm-4 overview-panel">
                                    <div class="col-sm-2 text-muted">DAYS</div>
                                    <div class="col-sm-2 font-weight-bold">26</div>
                                    <div class="col-sm-2 text-danger">EXPIRED</div>
                                    <div class="col-sm-2 text-danger font-weight-bold">3</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="ibox-content inspinia-timeline">
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-4 date">
                                    <i class="fa fa-file"></i>
                                    7:00 am
                                    <br/>
                                    <small class="text-navy">3 hour ago</small>
                                </div>
                                <div class="col content">
                                    <p class="m-b-xs"><strong>Send documents to Mike</strong></p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since.</p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-4 date">
                                    <i class="fa fa-coffee"></i>
                                    8:00 am
                                    <br/>
                                </div>
                                <div class="col content">
                                    <p class="m-b-xs"><strong>Coffee Break</strong></p>
                                    <p>
                                        Go to shop and find some products.
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-4 date">
                                    <i class="fa fa-phone"></i>
                                    11:00 am
                                    <br/>
                                    <small class="text-navy">21 hour ago</small>
                                </div>
                                <div class="col content">
                                    <p class="m-b-xs"><strong>Phone with Jeronimo</strong></p>
                                    <p>
                                        Lorem Ipsum has been the industry's standard dummy text ever since.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
