<div class="text-center animated fadeInDown">
    <div>
        <h4>Create New Study</h4>
        <form class="m-t" role="form" [formGroup]="newStudyForm" (ngSubmit)="submit()">
            <div formGroupName="sponsor">
                <mat-form-field class="w-100">
                    <input type="text"
                           placeholder="Sponsor"
                           matInput
                           formControlName="name"
                           [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredSponsors | async" [value]="option.name">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="newStudyForm.get('sponsor.name').touched &&
                         newStudyForm.get('sponsor.name').hasError('required')"> Required
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-form-field class="w-100">
                <input type="text"
                       placeholder="Protocol #"
                       matInput
                       formControlName="protocolName">
                <mat-error *ngIf="newStudyForm.get('protocolName').touched &&
                         newStudyForm.get('protocolName').hasError('required')"> Required
                </mat-error>
            </mat-form-field>
            <div formGroupName="cro">
                <mat-form-field class="w-100">
                    <input type="text"
                           placeholder="CRO Name"
                           matInput
                           formControlName="name"
                           [matAutocomplete]="auto2">
                    <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                        <mat-option *ngFor="let option of filteredCros | async" [value]="option.name">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <mat-form-field class="w-100">
                <input type="text"
                       placeholder="Nickname"
                       matInput
                       formControlName="nickname">
                <mat-error *ngIf="newStudyForm.get('nickname').touched &&
                         newStudyForm.get('nickname').hasError('required')"> Required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <input type="text"
                       placeholder="IND #"
                       matInput
                       formControlName="indNumber">
            </mat-form-field>
            <div formGroupName="principalInvestigator">
                <mat-form-field class="w-100">
                    <mat-label>Pricipal Investigator</mat-label>
                    <mat-select formControlName="id">
                        <mat-option *ngFor="let user of initDashboardDto?.users"
                                    [value]="user.id">{{user.firstName}} {{user.lastName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="newStudyForm.get('principalInvestigator.id').touched &&
                         newStudyForm.get('principalInvestigator.id').hasError('required')"> Required
                    </mat-error>
                </mat-form-field>
            </div>
            <div formGroupName="subInvestigator">
                <mat-form-field class="w-100">
                    <mat-label>Sub Investigator</mat-label>
                    <mat-select formControlName="id">
                        <mat-option *ngFor="let user of initDashboardDto?.users"
                                    [value]="user.id">{{user.firstName}} {{user.lastName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div formGroupName="site">
                <mat-form-field class="w-100">
                    <mat-label>Site</mat-label>
                    <mat-select formControlName="id">
                        <mat-option *ngFor="let site of initDashboardDto?.sites"
                                    [value]="site.id">{{site.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="newStudyForm.get('site.id').touched &&
                         newStudyForm.get('site.id').hasError('required')"> Required
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-form-field class="w-100">
                <input type="text"
                       placeholder="Site #"
                       matInput
                       formControlName="siteNumber">
            </mat-form-field>
            <div formGroupName="leadCrc">
                <mat-form-field class="w-100">
                    <mat-label>Lead CRC</mat-label>
                    <mat-select formControlName="id">
                        <mat-option *ngFor="let user of initDashboardDto?.users"
                                    [value]="user.id">{{user.firstName}} {{user.lastName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="newStudyForm.get('leadCrc.id').touched &&
                         newStudyForm.get('leadCrc.id').hasError('required')"> Required
                    </mat-error>
                </mat-form-field>
            </div>
            <div formGroupName="backupCrc">
                <mat-form-field class="w-100">
                    <mat-label>Backup CRC</mat-label>
                    <mat-select formControlName="id">
                        <mat-option *ngFor="let user of initDashboardDto?.users"
                                    [value]="user.id">{{user.firstName}} {{user.lastName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div formGroupName="folderTemplate">
                <mat-form-field class="w-100">
                    <mat-label>Folder Template</mat-label>
                    <mat-select formControlName="id">
                        <mat-option *ngFor="let folderTemplate of initDashboardDto?.folderTemplates"
                                    [value]="folderTemplate.id">{{folderTemplate.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="newStudyForm.get('folderTemplate.id').touched &&
                         newStudyForm.get('folderTemplate.id').hasError('required')"> Required
                    </mat-error>
                </mat-form-field>
            </div>
            <button type="submit" class="btn btn-w-m btn-info block full-width">Create</button>
        </form>
    </div>
</div>
