<div class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name ">RegEz</h1>

            </div>
            <h4>Welcome to eRegulatory System</h4>
            <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
                <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
            </p>
            <p>Login</p>
            <form class="m-t" role="form" action="index.html">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Username" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="">
                </div>
                <button type="submit" class="btn btn-w-m btn-info block full-width">Login</button>

                <a href="#"><small>Forgot password?</small></a>
               
            </form>
            <p class="m-t"> <small>eRegulatory System Copyright &copy; 2020</small> </p>
        </div>
    </div>
</div>
