.popup-container {
    user-select: none;
    position: absolute;
    right: -1rem;
    top: 15rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid white;

    &>span {
        cursor: pointer;

        &:hover {
            background: #888888;
        }
    }
}