<div class="wrapper wrapper-content animated fadeIn">
    <div class="col-lg-12 d-inline-block mb-5 border-bottom white-bg page-heading">
        <h2 class="text-muted">{{companyDetailsDto?.company.name}}</h2>
        <div class="icon-container bg-primary float-right">
            <i class="ml-2 fa fa-cogs fa-lg fa-2x"></i>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="tabs-container">
            <ul class="nav nav-tabs" role="tablist">
                <li><a class="nav-link active" data-toggle="tab" href="#tab-1">Company Details</a></li>
                <li><a class="nav-link" data-toggle="tab" href="#tab-2">Research Sites</a></li>
                <li><a class="nav-link" data-toggle="tab" href="#tab-3">Binders Template</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <form class="m-t" role="form" [formGroup]="editCompanyForm" autocomplete="on"
                              (ngSubmit)="update()">
                            <mat-form-field>
                                <input type="text" matInput placeholder="Name" formControlName="name">
                                <mat-error
                                        *ngIf="editCompanyForm.get('name').touched && editCompanyForm.get('name').hasError('required')">
                                    Required
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Address 1" formControlName="address1">
                                <mat-error
                                        *ngIf="editCompanyForm.get('address1').touched && editCompanyForm.get('address1').hasError('required')">
                                    Required
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Address 2" formControlName="address2">
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Website" formControlName="website">
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="City" formControlName="city">
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="State" formControlName="state">
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Zip" formControlName="zip">
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Billing Address 1"
                                       formControlName="billingAddress1">
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Billing Address 2"
                                       formControlName="billingAddress2">
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Billing City"
                                       formControlName="billingCity">
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Billing State"
                                       formControlName="billingState">
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Billing Zip"
                                       formControlName="billingZip">
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Billing Phone"
                                       formControlName="billingPhone">
                            </mat-form-field>
                            <button type="submit" class="btn btn-w-m btn-info block full-width">Save Changes</button>
                        </form>

                    </div>
                </div>
                <div role="tabpanel" id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <app-site-form *ngFor="let site of companyDetailsDto?.sites" [site]="site"></app-site-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
