@import '../node_modules/@angular/material/theming';

html,
body {
  margin: 0;
  overflow-x:hidden;
  
  .icon-container {
    position: relative;
    height: 3rem;
    line-height: 3.3rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;  
    width: 3rem;
    bottom: 2rem;
}

}

.custom-dialog-container .mat-dialog-container {
  overflow-x: hidden;
}

.mat-datepicker-toggle {
  position: relative;
  float: right;
  bottom: 2.2rem;
}


*:focus
{
    outline:none; 
    border: none;
}