@import '../../../styles/colors.scss';

.narrow-success {
    width: 10px;
    background-color: $info;
}

.narrow-warning {
    width: 10px;
    background-color: $warning;
}

.esign-row, .internal-row, .external-row {
    cursor: pointer;
}

tr {
    &>td:nth-child(2) {
        font-weight: 600;
        white-space:nowrap;

        p {
            font-size: smaller;
            font-weight: 400;
        }
    }
}
