@import '../../../styles/colors.scss';

.icon-container {
    position: relative;
    height: 3rem;
    line-height: 3.3rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;  
    width: 3rem;
    bottom: 2rem;
}

.narrow-success {
    width: 10px;
    background-color: $info;
}

.narrow-warning {
    width: 10px;
    background-color: $warning;
}

.esign-row {
    cursor: pointer;
}

tr {
    &>td:nth-child(2) {
        font-weight: 600;
        white-space:nowrap;

        p {
            font-size: smaller;
            font-weight: 400;
        }
    }
}
