<div class="gray-bg fh-150 w-100">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name ">RegEz</h1>
            </div>
            <h4>Forgot Password</h4>
            <div>
                Enter your email address and your password will be reset and emailed to you.
            </div>
            <form class="m-t" role="form" [formGroup]="forgotPassForm" (ngSubmit)="forgot(forgotPassForm)">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" required=""
                           formControlName="email">
                </div>
                <button type="submit" class="btn btn-w-m btn-info block full-width">Send New Password</button>
                <a [routerLink]="[ '/login']"><small>Cancel</small></a>
            </form>
            <p class="m-t"><small>eRegulatory System Copyright &copy; 2020</small></p>
        </div>
    </div>
</div>
