<div class="wrapper wrapper-content animated fadeIn">
    <div class="col-lg-12 d-inline-block mb-5 border-bottom white-bg page-heading">
        <h2 class="text-muted">{{labelService.locale['ADMINISTRATION_TRANSLATIONS_TITLE']}}</h2>
        <div class="icon-container bg-primary float-right">
            <i class="ml-2 fa fa-cogs fa-lg fa-2x"></i>
        </div>
    </div>
    <div class="ibox-content">
        <div class="d-flex justify-content-between w-100 mb-3">
            <div class="float-left d-flex w-75">
                <input type="text" class="form-control form-control-sm m-b-xs w-25 mr-4" style="height: 2.5rem;" id="filter"
                    placeholder="{{labelService.locale['ADMINISTRATION_TRANSLATIONS_TABLE_SEARCH_INPUT']}}">
            </div>
            <div class="float-right">
                <button class="btn btn-primary" [routerLink]="['/administration/translations/create']">{{labelService.locale['ADMINISTRATION_TRANSLATIONS_CREATE_LABEL_BUTTON']}}</button>
            </div>
        </div>
        <table class="footable table table-stripped" data-page-size="10" data-filter=#filter   data-page-navigation=".pagination">
            <thead>
            <tr>
                <th>{{labelService.locale['ADMINISTRATION_TRANSLATIONS_TABLE_COLUMN_NAME']}}</th>
                <th>English</th>
                <th>{{labelService.locale['ADMINISTRATION_TRANSLATIONS_TABLE_COLUMN_ACTION']}}</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let label of labelService.localeList; let i = index">
                    <td>{{label.key}}</td>
                    <td>{{label.value}}</td>
                    <td><button class="btn btn-white" [routerLink]="['/administration/translations/edit/', i]">{{labelService.locale['ADMINISTRATION_TRANSLATIONS_TABLE_COLUMN_ACTION_BUTTON']}}</button></td>
                </tr>
            </tbody>
            <tfoot >
                <tr>
                  <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
                  </td>
                </tr>
              </tfoot>
        </table>
    </div>
</div>
